* { margin:0; padding:0; font-family: "Roboto", Arial, sans-serif; }
html { font-size:14px; font-weight:300; }
ul { list-style:none; }
a { text-decoration:none; }
h1, h2, h3 { margin-bottom:15px; font-weight:500; }
p { line-height:24px; }
p+p { margin-top:10px; }

header { position:absolute; left:0; right:0; display:table; width:280px; height:100%; background-color:#333; box-shadow:1px 0 25px #333; }
.logo { margin-bottom:30px; text-align:center; }
.logo a { font-size:24px; font-weight:500; color:#fff; }
.logo-subtitle { font-size:12px; display:block; color:#eee; text-transform:uppercase; }
.vertical-middle { display:table-cell; vertical-align:middle; }
.nav-item { display:block; padding:10px; text-align:center; color:#999; transition:color, background-color 0.1s linear; }
.nav-item:hover,
.nav-item.active { color:#fff; background-color:#444; }

#content { margin-left:280px; padding:50px 80px; min-height:300px; background-color:#ececec; }


