* { margin:0; padding:0; font-family: "Roboto", Arial, sans-serif; }
html { font-size:14px; font-weight:300; background-color:#fff; height: 100%; }
html, body, main { height: 100%; }
ul { list-style:none; }
a { text-decoration:none; }
h1, h2, h3 { font-weight:300; }
p { line-height:24px;}
p+p { margin-top:10px; }

/* Clearfix */
* html .clearfix { height:1%; } html[xmlns] .clearfix { display:block; } .clearfix { display:inline-block; }
.clearfix:after { content:"."; display:block; clear:both; visibility:hidden; line-height:0; height:0; }


/*
* Header - Nav bar
*/
header { position: fixed; left:0; right:0; width:280px; height:100%; background-color:#fff; border-right:1px solid #e0e0e0; box-sizing:border-box; overflow: auto; min-height: 100%;}
.wrap-header { position:relative; min-height:100%; padding-bottom: 45px; box-sizing: border-box;}
.header-block { padding:10px 0; }
.header-block+.header-block { border-top:1px solid #e0e0e0; }
.header-bottom { position: absolute; bottom:0; width:100%; }

.logo { display:block; padding:10px 20px; color:#666; font-size:16px; font-weight:bold; }
.nav { font-size:13px; }
.nav-item { display:block; padding: 15px 0 15px 20px; font-weight:700; color:#333; }
.nav-subitem { display:block; padding: 10px 0 10px 30px; font-weight:500; color: #03a9f4; }
.focus-item:focus { background-color: #eee; outline: 0; }
.small { font-size:12px; padding:0 20px; }


.collapsible { overflow: hidden; position: relative; transition: height 0.2s ease-out; }
.collapsible.collapsed { height: 0; }
.list-collapsible { position:absolute; bottom:0; width:100%; }


#content { margin-left:280px; height: 100%; background-color:#f9f9f9; }

.title-bar { padding:0 100px; font-size:24px; background-color:#3f51b5; color:#fff; }
.content-title { padding:100px 0 40px;}

.page-content { padding:50px 100px; box-sizing: border-box; width: 100%; max-width: 1200px;}
.content-left { float:left; width: 70%; }
.panel-right { float:right; width: 25%; }


.page.ng-enter, 
.page.ng-leave { opacity:0; transition:opacity 0.5s linear; }
.page.ng-enter.ng-enter-active { opacity:1; }
.page.ng-leave.ng-leave-active { opacity:.5; }
